.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;

	width: 165.58px;
	height: 59px;

	background: linear-gradient(180deg, #a6fe50 0%, #a6ff51 20.31%, #41fd3d 50.52%, #15ef23 50.53%, #00be12 100%);
	border: 1.90323px solid #87ff6a;
	box-shadow: 0px 7.6129px 7.6129px rgba(0, 0, 0, 0.25);
	border-radius: 95.1613px;

	transition: all 0.3s ease 0s;

	span {
		font-weight: 800;
		font-size: 20px;
		line-height: math.div(24, 20);

		color: #ffffff;
		text-transform: uppercase;

		-webkit-text-stroke: 1.4px rgba(131, 255, 8, 0.38);
	}

	@media (min-width: 600px) and (min-height: 600px) {
		width: 300px;
		height: 75px;
		span {
			font-size: 28px;
		}
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}

[type="button"] {
	&:active {
		transform: translateY(3px);
	}
}

//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	display: grid;
	grid-template-columns: 2fr 1fr;

	width: 100%;
	min-height: 100vh;

	background-image: url("@img/other/bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	overflow: hidden;

	transition: all 0.3s ease 0s;

	&__block-acces {
		padding-top: 15px;
		padding-left: 12px;
	}

	&__acces {
	}

	&__button-box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}

	// .preloader__button

	&__button {
		position: relative;
		z-index: 3;
		margin-bottom: 45px;
	}
	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
	}
}
.acces-preloader {
	position: relative;
	z-index: 4;

	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 15px);
	max-width: 100vw;
	padding-block: 18px 40px;
	padding-inline: 11px;

	background: rgba(18, 25, 27, 0.73);
	border-radius: 10px 10px 0 0;

	overflow: auto;

	&._hide {
		display: none;
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: 12px;
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	font-weight: 500;
	font-size: 14px;
	line-height: math.div(17, 14);

	color: #ffffff;

	&__title {
		text-transform: uppercase;
	}
	@media (min-width: 700px) and (min-height: 700px) {
		font-size: 24px;
	}
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;

	transition: all 0.3s ease 0s;

	._loader & {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	// .loader__body

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
		margin-bottom: 80px;
	}

	// .loader__image

	&__image {
		position: absolute;
		transition: all 0.7s ease 0s;

		&_1 {
			top: 10px;
			left: 0;
			transform: translateX(-100%);
			._loader & {
				transform: translateX(-30%);
				@media (max-width: 720px) {
					transform: translateX(-40%);
				}
				@media (max-width: 650px) {
					transform: translateX(-50%);
				}
			}
			@media (min-width: 700px) and (min-height: 700px) {
				img {
					width: 750px;
				}
			}
		}
		&_2 {
			top: 10px;
			right: 0;
			transform: translateX(100%);
			._loader & {
				transform: translateX(30%);
				@media (max-width: 720px) {
					transform: translateX(40%);
				}
				@media (max-width: 650px) {
					transform: translateX(50%);
				}
			}
			@media (min-width: 700px) and (min-height: 700px) {
				img {
					width: 700px;
				}
			}
		}
	}

	// .loader__indicator-box

	&__indicator-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 10px;
	}

	// .loader__text

	&__text {
		font-weight: 700;
		font-size: 16px;
		line-height: math.div(19, 16);

		background: linear-gradient(180deg, #ffffff 14.71%, #e2e2e2 49.45%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 1px 1px rgba(20, 31, 35, 0.65));
	}

	[data-digits-counter] {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	// .loader__loading

	&__loading {
		position: relative;
		width: 25vw;
		height: 30px;

		background: rgba(167, 180, 21, 0.09);
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25), inset 0px 2px 1px #cde975;
		backdrop-filter: blur(5px);

		border-radius: 17px;
	}

	// .loader__loading-inner

	&__loading-inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background: linear-gradient(180deg, #5aa222 3.33%, #77c41a 49.45%, #69ba23 100%);
		box-shadow: inset 0px 0px 1px 1px #ceea76;
		border-radius: 17px;

		transition: all 0.3s ease 0s;
		&::before {
			content: "";
			position: absolute;
			top: 5px;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			height: 8px;

			background: rgba(210, 241, 109, 0.8);
			border-radius: 4px;
		}
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	&._anim-icon-jump {
		animation: jump_icon 5s ease;
	}
	&._anim-icon-scale {
		animation: scale_icon 0.5s ease 2;
	}
	&._anim-icon-rotate {
		animation: rotate_icon 1.5s ease-out 1;
	}
	&._anim-icon-rotate-2 {
		animation: rotate_icon-2 1.5s ease 1;
	}
}

[type="button"],
._touch-hack {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//========================================================================================================================================================
